<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="autor">Enter autor: </label>
  <input type="text" th:field="*{autor}" id="autor"/>
  <div style="color:red" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}">Err</div>
  <br/>
  <label for="year">Enter year: </label>
  <input type="text" th:field="*{year}" id="year"/>
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Err</div>
  <br/>
  <label for="nameOfBook">Enter name of book:</label>
  <input type="text" th:field="*{nameOfBook}" id="nameOfBook">
  <div style="color:red" th:if="${#fields.hasErrors('nameOfBook')}" th:errors="*{nameOfBook}">Err</div>
  <br/>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>